
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,100italic,300italic);

html, body {
	height: 100%;
	/*width: 100%;*/
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 300;
	color: #fff;
	/*background: linear-gradient(#3399ff,#010630);
  background: -webkit-linear-gradient(#3399ff,#010630); 
  background: -o-linear-gradient(#3399ff,#010630);
  background: -moz-linear-gradient(#3399ff,#010630);*/
  background-color: #010630;
  /*background: transparent;*/
  text-align: center;
  /*margin: 0;*/
  background-size: 100%;
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
}

a {
  text-decoration: none;
  color: #ff8566;
}

a:hover{
  text-decoration: none;
  color: #ffc2b2;
}

.emphasis {
	font-style: italic;
}

.strong {
	font-weight: 400;
}

.uppercase {
	text-transform: uppercase;
}

.coral {
	color: #ff8566;
}

.green {
	color: #73c203;
}

.purple {
	color: #e338fd;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.hcenter {
	width: 50%;
  text-align: center;
  margin: 0 auto;
}

.overlay {
	background-color: rgba(0,0,0,0.3);
	position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.vcenter-parent {
	display: table;
  height: 100%;
}

.vcenter {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.bottom {
	position: absolute;
	width: 100%;
	bottom: 60px;
}

/*-----------skrollr-specific selectors-----------*/

.parallax-image-wrapper {
	position:fixed;
	left:0;
	width:100%;
	overflow:hidden;
}

.parallax-image-wrapper-50 {
	height:50%;
	top:-50%;
}

.parallax-image-wrapper-100 {
	height:100%;
	top:-100%;
}

.parallax-image {
	display:none;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

.parallax-image-50 {
	height:200%;
	top:-50%;
}

.parallax-image-100 {
	height:100%;
	top:0;
}

.parallax-image.skrollable-between {
	display:block;
}

.no-skrollr .parallax-image-wrapper {
	display:none !important;
}

#skrollr-body {
	height:100%;
	overflow:visible;
	position:relative;
}

.gap {
	background:transparent center no-repeat;
	background-size:cover;
}

.skrollr .gap {
	background:transparent !important;
}

.gap-50 {
	height:50%;
}

.gap-100 {
	height:100%;
}

/*------------intro slide--------------*/

.header {
  display: none;
  overflow: hidden;
}

.intro-bg {
	background-image: url("../images/ocean-title.jpg");
}

.logo {
	position: relative;
	top: 0;
}

/*----------appeal slide-------------*/

.appeal-bg {
  background-image: url("../images/appeal.png");
}


/*----------initiatives slide------------*/

.initiatives-bg {
  background-image: url("../images/initiatives.jpg");
}

/*----------live slide---------------*/

.live-bg {
  background-image: url("../images/live.jpg");
}

/*------------interactive slide-------------*/

.interactive-bg {
  background-image: url("../images/interactive.jpg");
}

/*------------explore slide---------------*/

.explore-bg {
  background-image: url("../images/explore.jpg");
}
/*-------HEADINGS---------*/

.brand-heading {
	font-weight: 300;
	font-size: 45px;
}

.mission-heading {
	font-weight: 300;
	margin-bottom: 40px;
	font-size: 45px;
}

.appeal-heading {
	font-weight: 300;
	margin-bottom: 40px;
	font-size: 45px;
}

.initiatives-heading {
	font-weight: 300;
	font-size: 45px;
	text-shadow: 2px 0 6px rgba(0,0,0,0.75);
  margin-bottom: 150px;
}

.initiative-heading {
	font-weight: 100;
	font-size: 55px;
	margin: 30px 0;
}

.form-heading {
	font-weight: bold;
	font-size: 50px;
}

.thanks-heading {
	font-weight: bold;
	font-size: 100px;
}

/*-----------------------*/

section.content {
	padding: 60px 0;
	position: relative;
}

.quote:before {
	content:'\201C';
	position: relative;
  z-index: 9999;
  float: left;
  font-size: 700%;
  font-family: 'Georgia', serif;
  margin-top: -87px;
  margin-bottom: -183px;
}

p.quote {
  margin-bottom: 70px;
}

.quote:after {
	content:'\201D';
	position: relative;
  z-index: 9999;
  float: right;
  font-size: 700%;
  font-family: 'Georgia', serif;
  margin-top: -56px;
  margin-bottom: -192px;
}

.signature {
	font-weight: 100;
	font-size: 28px;
}

.fa {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  text-shadow: 2px 0 6px rgba(0,0,0,0.75);
}

section.connect-form {
	padding: 30px 0;
	position: relative;
}

section.connect-form p {
	margin-top: 30px;
}

.form-control {
	font-size: 24px;
}

.checkbox label {
	font-weight: 300;
}

.checkbox input[type=checkbox] {
	margin-top: 16px;
}

.checkboxes {
	margin-bottom: 30px;
}

.thanks p {
	margin: 50px 0;
}